<%- include('layouts/header.ejs') %>
<head>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<h1>hi forgot passport page</h1>

<form action="/forgotPassword" method="POST">
  <input type="email" name="email" placeholder="Enter Email" required />
  <br /><br />
  <input type="submit"/>
</form>
<%if(message){%>
    <p> <%=message%></p>
<%}%>