<%- include('layouts/header.ejs') %>
<head>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/forgotPassword.css">
</head>
<div class="forgot-container">
  <div class="forgot-content">
    <h1>Forgot passport page</h1>

    <form action="/forgotPassword" method="POST">
      <input type="email" name="email" placeholder="Enter Email" required />
      <br /><br />
      <button class="forgotbtn" type="submit">Send</button>
    </form>
    <%if(message){%>
        <p> <%=message%></p>
    <%}%>
  </div>
</div>