<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musician Collaboration Platform</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<%- include('layouts/header.ejs') %>
<section class="section1">
    <div class="content1">
        <h1><%= __('example') %></h1>
        <h2>Musician</h2>
        <h2>collaboration</h2>
        <h2>platform</h2>
        <p>Create Music together  wherever you are</p>
        <%if(!isAuthenticated){%>
        <a href="/login">
            <button class="button">  Sign IN/UP </button>
        </a>
        <%}%>
    </div>
</section>

<section class="section2">
    <div class="content2">
        <h2>About our platform</h2>
        <p>Our platform is your one-stop shop for finding the perfect musical collaborator. </p>
        <p>Search by instrument and filter by location within Kazakhstan to discover talented musicians who share your creative spark.</p>
        <img width="50%"  src="https://www.theaudiostore.in/cdn/shop/articles/Why_Does_Music_Sound_Better_at_Night_Exploring_the_Science_behind_the_Phenomenon.png?v=1681157018&width=1200" alt="Изображение">
    </div>
</section>

<section class="section3 full-height">
    <div class="content">
        <div class="left">
            <img  src="../images/firstphoto.jpg" alt="Изображение">
        </div>
        <div class="right">
            <h4>Unleash Your Music Potential:</h4>
            <p>Find your perfect musical match with our unique tag-based search.</p>
            <p>From genre to city, instruments to languages, your next collaboration is just a click away.</p>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <h4>Your Voice, Amplified: </h4>
            <p>Share your musical journey with our active community.</p>
            <p>Engage in lively discussions, get feedback, and let your talent shine in our interactive Activity section.</p>
            
        </div>
        <div class="right">
            <img class="birbale" src="../images/zagr.png" alt="Изображение">
        </div>
    </div>
</section>



<section class="section4">
    <div class="contact4">
        <div class="info4">
            <img src="../images/adress.jpg" alt="Address Icon" class="icon">
            <h4>Address</h4>
            <p>Mangilik el 35</p>
        </div>
        <div class="info4">
            <img src="../images/email.jpg" alt="Email Icon" class="icon">
            <h4>Email</h4>
            <p><a href="mailto:info@musiciansAITU.com">info@musiciansAITU.com</a></p>
        </div>
        <div class="info4">
            <img src="../images/phone.jpg" alt="Phone Icon" class="icon">
            <h4>Phone</h4>
            <p>+7 747 627 03 47</p>
        </div>
    </div>
    <div class="social4">
        <a href="https://www.instagram.com" target="_blank">
            <img src="../images/instagram.jpg" alt="Instagram">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../images/facebook.jpg" alt="Facebook">
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <img src="../images/youtube.jpg" alt="YouTube">
        </a>
    </div>
</section>
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5"> &copy; Talgat, Aikerim, Dias </div>
</footer>
</body>
</html>