<%- include('layouts/header.ejs') %>
<head>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<h1>hi Reset Password Page</h1>

<form action="" method="POST">
  <input type="password" name="newPassword" placeholder="Enter new Password" required />
  <br /><br />
  <input type="submit"/>
</form>
<%if(message){%>
    <p> <%=message%></p>
<%}%>