<%- include('layouts/header.ejs') %>
<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/resetPassword.css">
</head>
<div class="reset-container">
  <div class="reset-content">
    <h1>Reset Password Page</h1>

    <form action="" method="POST">
      <input type="password" name="newPassword" placeholder="Enter new Password" required />
      <br /><br />
      <button class="resetbtn" type="submit">Reset</button>
    </form>
    <%if(message){%>
        <p> <%=message%></p>
    <%}%>
  </div>
</div>
</html>