body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent body scrolling */
    margin-top: 3.7rem;
}


.container-fluid {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}


.active-user {
    background-color: #1E90FF; /* Highlight background color */
    border-left: 5px solid #00ff48; /* Highlight with a left border */
    border-radius: 10px;
}

#contacts-section {
    background-color: #5caeff; 
    overflow-y: auto; /* Enable scrolling within the contacts section */
    padding: 20px;
}
/* Custom scrollbar styles */
#contacts::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}


#contacts::-webkit-scrollbar-track {
    background: #c9c9c9; /* Background of the scrollbar track */
    border-radius: 10px;
}

#contacts::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px;
}

#contacts::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
}

#chat-section {
    background-color: #F5F5F5; /* Blue for illustration */
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow: hidden; /* Prevent scrolling within the chat section */
}

.sidebar .list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar .user-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.sidebar {
    width: 300px;
}

.chat-section {
    display: flex;
    flex-direction: column;
    height: 90%;
}

#chat-container {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling within the chat messages */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Custom scrollbar styles */
#chat-container::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}

#chat-container::-webkit-scrollbar-track {
    background: #c9c9c9; /* Background of the scrollbar track */
    border-radius: 10px;
}

#chat-container::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px;
}

#chat-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
}

.form-container {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 990px;
    margin:0cm
}

.full-width {
    width: 100%;
}

.inpt {
    width: calc(100% - 90px);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
}

.btn {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.btn:hover {
    background-color: #0056b3;
}

.message {
    /*display: inline-block; /*Make the width adjust to content */
    padding: 4px;
    margin: 4px 0;
    border-radius: 10px; /* Border radius for rounded corners */
    background-color: #f1f1f1; /* Background color for messages */
    /* max-width: 70%; Limit the max width of the messages */
    word-wrap: break-word; /* Ensure long words break to the next line */
    max-width: 60%;
    clear: both;
}

.current-user-chat {
    float: right; /* Align to the right */
    text-align: right;
    background-color: #90cbff; /* Different background for current user */
    margin-bottom: 10px;
}

.distance-user-chat {
    float: left; /* Align to the left */
    text-align: left;
    background-color: #90cbff; /* Different background for other users */
    margin-bottom: 10px;
}

.start-head {
    text-align: center;
    margin-top: 50px;
}
