body { 
    height: 90%; 
    font-family: Arial, sans-serif; 
    margin-top: 3.7rem;;  
    padding: 0; 
    background-color: #f0f0f0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* height: 100vh; */ 
} 
 
.chat-container { 
    display: flex; 
    width: 80%; 
    height: 90vh; /* 100% of the viewport height */ 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden; 
} 
 
.user-list { 
    width: 25%; 
    border-right: 1px solid #e0e0e0; 
    overflow-y: auto; 
    background-color: #f8f8f8; 
    padding: 10px; 
} 
 
.user-item { 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    cursor: pointer; 
} 
 
.user-item:hover { 
    background-color: #e0e0e0; 
} 
 
.user-icon { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
} 
 
.user-name { 
    font-size: 16px; 
} 
 
.chat-window { 
    width: 75%; 
    height: 80%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
} 
 
.chat-header { 
    height: 6vh; 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid #e0e0e0; 
    background-color: #f8f8f8; 
} 
 
.chat-user-icon { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
} 
 
.chat-user-name { 
    font-size: 18px; 
    font-weight: bold; 
} 
 
.start-head { 
    text-align: center; 
    padding: 20px; 
} 
 
.chat-messages { 
    flex-grow: 1; 
    padding: 10px; 
    overflow-y: auto; 
    height: calc(90vh - 20vh); /* Adjust based on the header and input height */ 
    display: flex; 
    flex-direction: column; 
} 
 
.message { 
    padding: 10px; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    max-width: 60%; 
    display: inline-block; /* Ensure it only takes up necessary width */ 
 
} 
 
.current-user-chat { 
    background-color: #04f9c0; 
    color: white; 
    align-self: flex-end; 
    text-align: right; 
} 
 
.distance-user-chat { 
    background-color: #00d0ff; 
    align-self: flex-start; 
    text-align: left; 
} 
 
.chat-input { 
    height: 9vh; 
    display: inline-block; 
    border-top: 1px solid #e0e0e0; 
    padding: 10px; 
    background-color: #f8f8f8; 
    width: 100%; 
} 
 
.chat-input input { 
    flex-grow: 1; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    margin-right: 10px; 
    font-size: 16px; 
    width: 80%; 
} 
 
.chat-input button { 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
} 
 
.chat-input button:hover { 
    background-color: #0056b3; 
} 
 
.active-user { 
    background-color: #d0d0d0; 
} 
 
a { 
    text-decoration: none; 
    color: inherit; /* This will make the link inherit the color of the surrounding text */ 
  }