
.select-container {
  position: relative;
  display: inline-block; /* Ensures the container takes only as much width as necessary */
}

#instrument-select {
  width: calc(100% - 100px); /* Adjust the width as needed */
  /* Add any other styles you need for the select element */
}

#save-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px; /* Adjust vertical positioning as needed */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  margin-top: 5%;
}

.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.profile-photo {
    margin-right: 20px;
    max-width: 200px;
}

.profile-photo .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-info {
    flex: 1;
}

.profile-header {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: serif;
    margin-left: 20%;
}

.profile-header h1 {
    margin: 0;
    color: #333;
}

.profile-header .tagline {
    font-style: italic;
    color: #777;
    margin-top: 5px;
}

.profile-main {
    padding: 0;
}

.profile-main h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: black;
}

.profile-main p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.music-list {
  list-style-type: none;
  padding: 0;
}

.music-list li {
  margin-bottom: 20px;
}

.music-list p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.music-list {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(135deg, #cccccc, #000000);
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.music-list:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.music-list audio {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* padding: 10px; */
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.music-list audio:hover {
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.social-list li {
    margin-bottom: 10px;
    list-style-type: none;
    list-style-type: none;
}


.social-list a {
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}


.social-list a:hover {
    background-color: #ddd;
}
